body{
  text-align: center;
  background-color: rgb(201, 223, 223);
}
button{
  font-size: 25px;
  margin-left: 20px;
}
#nextButton{
  border-radius: 30px;
}
#nextButton:hover { /* Corregido a :hover */
  background-color: rgb(197, 215, 232);
  font-size: 36px;
}
h1{
  font-family: monospace;
  font-size: 60px;
}
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}
h4{
  font-family: monospace;
  background-color: aquamarine;
  margin-left: 630px;
  margin-right: 630px;
  font-size: 20px;
  border-radius: 2px;
  margin-bottom: -10px;
}
h3{
  font-family: monospace;
  font-size: 24px;
  
}